.login-container > .form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
}

.login-container > h1 {
  color: #03a86c;
  font-size: 40px;
  margin-bottom: -10px;
  text-transform: uppercase;
}

.login-container {
  align-items: center;
  border: 4px solid #29292e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 36%;
  margin-top: 13%;
  padding: 40px;
  width: 350px;
}

.login-container > .form-login input {
  border-radius: 08px;
  margin: 10px;
  padding: 12px;
  width: 350px;
}

.login-container > .form-login button {
  background-color: #73c585;
  border: 01px solid rgba(41, 41, 46, 0.05);
  border-radius: 08px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  padding: 12px;
  transition: 0.2s ease-in-out;
  width: 350px;
}

.login-container > .form-login button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
